<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pillolina</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<header>
    <h1>Conferma Pillolina</h1>
</header>

<main>
    <div>
        <h1><i><b>Ciao Alessandra Mia ❤️</b></i></h1>
        <p>Sei la mia vita ❤️ Ti amo tantissimo.</p>
        <p>Clicca il bottoncino, piccolino come te, per confermare di aver preso la pillolina!</p>
        <button id="updateHistoryBtn">Conferma ❤️</button>
    </div>
    <table>
        <thead>
        <tr><th>Quando hai preso la pillola?</th></tr>
        </thead>
        <tbody id="historyBody">
        <tr><td>Caricamento in corso...</td></tr>
        </tbody>
    </table>
</main>

<footer>
    <p><i><b>made with ❤️ by Francesco for Alessandra </b></i></p>
</footer>
<script src="/script.js"></script>
</body>
</html>